body {
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  background-color: #0e0032;
  color: #fff;
  transition: background 0.3s, color 0.3s;
}

body.light-theme, .highlighted-text.light-theme {
  background-color: #ae83ff;
  color: #000000;
}

#top-banner {
  background: #111;
  padding: 10px 0;
  grid-area: header;
}

.header-section {
  border-bottom: 1px solid #333;
  width: 100%;
}

.navbar .nav-links a {
  text-decoration: none;
  color: #ccc;
  padding: 8px 15px;
  transition: 0.3s;
  border-radius: 10px;
}

.navbar .nav-links a:hover {
  color: #fff;
  background-color: rgb(66, 0, 151);
  border: 1px solid black;
}

.nav-main__btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0 10px;
  transition: color 0.2s;
}

.highlighted-text {
  font-size: 3em;
  font-weight: bold;
  /* color: #fff; */
}

p {
  font-size: 1.1em;
  line-height: 1.5;
}

.imdb {
  background: #f5c518;
  color: #000;
  padding: 2px 5px;
  border-radius: 3px;
}
.netflix {
  color: red;
  font-weight: bold;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  max-width: 1600px;
  margin-inline: auto;
}
.hero-content {
  max-width: 600px;
  margin-right: 30px;
}
#more-text {
  transition: opacity 0.4s;
  opacity: 0;
  display: none;
  margin-top: 20px;
}

#more-text.open {
  display: inline;
  opacity: 1;
}
.hero-image {
  width: 300px;
  height: 300px;
  border: 2px solid #ff0000;
  border-radius: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
.nav-links, .nav-main {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.nav-links li, .nav-main li {
  margin: 0 10px;
}
.circle {
  border-radius: 50%;
  width: 400px;
  height: 200px;
}

.highlighted-text::after {
  content: " ★★★★★";
  color: rgb(255, 251, 0);
}
.btn-primary {
  background: red;
  border-radius: 12px;
  padding: 10px 20px;
  border: none;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}
.btn-secondary {
    border-radius: 12px;
    background: transparent;
    padding: 8px 10px;
    color: white;
    border: 1px solid red;
    cursor: pointer;
    transition: 0.3s;
}
.btn-primary:hover {
  background: darkred;
}
 .btn-secondary:hover {
    background: #360092;
    border: 1px solid rgb(255, 255, 255);
    transition: 0.7s;
 }

.collection {
  max-width: 1400px;
  margin-inline: auto;
  padding-inline: 16px;
  padding-block: 50px;

}
.collection__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.collection__images {
  display: flex;
  column-gap: 20px;
  justify-content: center;
}

.collection__images-item {
  display: grid;
  padding: 10px;
  row-gap: 10px;
  align-items: center;
  transition: transform 0.3s;
  border-radius: 12px;
}
/* .collection__images-item:hover {
  transform: scale(1.05);
 box-shadow: -4px -2px 33px 48px rgba(34, 60, 80, 0.22);
} */
.img__title {
  text-align: center;
}

.img__button {
  border: 1px solid rgb(255, 0, 255);
  background-color: #000;
  padding: 14px 24px;
  color: rgb(255, 255, 255);
  border-radius: 12px;
  font-weight: 700;
  box-shadow: 2px 2px 0 0  rgb(255, 255, 255);
  cursor: pointer;
}
.img__desc {
  text-align: center;
}

.overlay-section {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 50px;
}

.button-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.current-time {
  padding: 30px 40px;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  touch-action: manipulation;
  margin: 50px;
}

.current-time:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.current-time:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
