body {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  /* background: linear-gradient(135deg, #0e1632 50%, #1a193f 100%); */
  color: #fff;
  min-height: 100vh;
}
.container {
  display: grid;
  grid-template-areas: 
  "header header"
  "main sidebar"
  "footer footer";
    grid-template-columns: 1fr 250px;
}
main {
  grid-area: main;
}
a {
  color: inherit;
  text-decoration: none;
}
.sidebar {
  background-color: #6745ff;
  grid-area: sidebar;
  padding: 20px;
  display: grid;
  row-gap: 20px;
  border-radius: 12px;
}
.sidebar__title {
  text-align: center;
}
.sidebar__menu {
  display: grid;
  row-gap: 10px;
}
.sidebar__item {
  transition: transform 0.3s;
  text-align: center;
}
.sidebar__item:hover {
  transform: scale(1.05);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px 40px;
  background: rgba(20, 24, 60, 0.8);
}

.logo {
  width: 48px;
  margin-right: 40px;
}

.menu {
  display: flex;
  gap: 32px;
  font-weight: 600;
  font-size: 1rem;
}

.menu li a {
  padding: 8px 12px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.menu li a.active,
.menu li a:hover {
  background-color: #E851BE;
  color: #fff;
}

.page-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 40px auto 20px;
  max-width: 1260px;
  padding: 0 20px;
}
.movie-grid,
.series-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  gap: 24px;
  max-width: 1260px;
  margin: 0 auto 60px;
  padding: 0 20px;
}

.card {
  position: relative;
  border-radius: 18px;
  background: #181d3b;
  box-shadow: 0 4px 18px rgba(9, 15, 37, 0.8);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}
.card:hover .overlay {
  opacity: 1;
}

.card img {
  width: 100%;
  display: block;
  border-radius: 18px;
}

.add-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 36px;
  height: 36px;
  background: #E851BE;
  border: none;
  border-radius: 50%;
  box-shadow: 0 2px 6px #ae2082;
  color: white;
  font-size: 1.5rem;
  line-height: 36px;
  text-align: center;
  cursor: pointer;
  transition: background 0.3s;
}

.add-btn:hover {
  background: #c632ab;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

footer {
  grid-area: footer;
  background: linear-gradient(90deg, #32165c 0%, #111030 100%);
  text-align: center;
  padding: 20px 0;
  font-size: 0.9rem;
  color: #bbb;
  align-self: end;
}
